@tailwind base;
@tailwind components;
@tailwind utilities;

* a {
  color: #5495ff;
  text-decoration-line: underline;
}

.resume {
  width: 100vw;
  height: 129.411765vw;
}

.title-container {
  display: flex;
  color: white;
  background-color: #404040;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 135px;
  z-index: 1000;
}

.name {
  font-size: 3rem;
  font-weight: 400;
}

.position {
  font-size: 1.25rem;
  font-weight: 300;
}

.content-container {
  display: flex;
  height: 100%;
  padding-top: 135px;
}

.sidebar-container {
  background-color: #f2f2f2;
  padding: 1rem;
}

.side-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.side-section * {
  align-self: flex-end;
  font-size: 0.9rem;
}

.side-section div h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.links-container {
  display: flex;
  width: 7rem;
  justify-content: space-between;
}

.skills-list-container * {
  display: flex;
  flex-direction: column;
}

.main-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.main-section div h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.main-body h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

.bullets li {
  font-size: 0.8rem;
  list-style-type: circle;
  margin-left: 1rem;
}

.project {
  margin-bottom: 0.5rem;
}